.logs-section {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 500px;
  overflow-y: auto;
}

.logs-container {
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  line-height: 1.6;
}
#btn-jira-ticket {
  visibility: hidden;
}